body {
    font-family: Arial;
    background-color: white;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    background-color: royalblue;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}
